@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&family=Montserrat&family=Quicksand&display=swap');

body {
    background-color: #293241;
    color: #EE6C4D;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    margin: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 660px;
    background-color: #EE6C4D;
}

.grid-container {
    display: grid;
    height: 640px;
    width: 640px;
    background-color: white;

}

.grid-element {
    flex: 1;
    user-select: none;
    text-align: center;
}


.border-top {
    border-top: 1px solid #000;
}

.border-bottom {
    border-bottom: 1px solid #000;
}

.border-left {
    border-left: 1px solid #000;
}

.border-right {
    border-right: 1px solid #000;
}

.border-none {
    border: none;
}

.grid-settings {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    width: 200px;
}

#color-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#color-input::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
}

#color-input::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}