@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&family=Montserrat&family=Quicksand&display=swap');

body {
    background-color: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    margin: 20px;
}

.content {
    display: flex;
    align-items: center;
}

  #grid .cell {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
  }